# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output



### macOS ###
.DS_Store

### Xcode ###
DerivedData/
build/
*.xcuserstate
xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# Xcode SCM / checkout metadata
*.xccheckout
*.xcscmblueprint

# User-specific Xcode files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

### Swift Package Manager ###
.build/
# Xcode가 생성하는 SPM 관련 워크스페이스/상태 파일들
.swiftpm/xcode/package.xcworkspace/
# (중요) 레지스트리/미러 설정에 민감정보가 섞일 수 있어 공개 repo라면 제외 권장
**/xcshareddata/swiftpm/configuration/

### CocoaPods ###
Pods/

### Carthage ###
Carthage/Build/

### fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

### SwiftData / local database artifacts (프로젝트 폴더에 생기는 경우 대비) ###
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.db
*.log

### Secrets / Signing (절대 커밋 금지) ###
*.p12
*.cer
*.mobileprovision
*.key
*.env


# 예: 민감한 에셋만 넣는 카탈로그/폴더를 따로 만들었을 때
**/PrivateAssets.xcassets/
**/SecretsAssets.xcassets/
**/Resources/Private/
